body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

/* height / width, content, padding, border, margin */

p {
	color: black;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 4px;
  text-align: center;
  }
